.board {
    border: black 1px solid;
    max-width: 450px;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    margin: auto;
}

.square {
    height: 90px;
    border: black 1px solid;
    text-align: center;
    padding: 60px 0 0 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 40px;
}

.end-game {
    text-align: center;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
}

.play-again {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}

button {
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: rgb(238, 202, 208);
}

.footer {
    margin: 10px;
    text-align: center;
}

.top {
    margin: 10px;
}